#node environment
node_env="development"
port=2015

#backend
DATABASE_URL="postgresql://postgres:<password>@localhost:5432/<db_name>?schema=public"

#auth
jwt_secret=
access_jwt_secret=
JWT_PASSENGER_ENC_KEY=

#email (mailtrap)
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_HOST=
