@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


.notfound_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.not404{
    height: 678px;
    overflow: hidden;
}

.not404 img{
  margin-top: -50px;
  width:100%;
  height: 790px;
  object-fit: cover;
}


.notfound_content {
  display: block;
  margin: -400px 0 0  480px;
  max-width: 600px;
  padding: 20px;
  
}
  
.notfound_content h2 {
  font-size: 30px;
  font-family: 'Yeseva One';
  font-weight: 500;
  margin: 0;
  animation: slideDown 1s ease-in-out forwards;

} 

.notfound_content p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin: 16px 0;
  position: relative;
  font-family: 'Work sans', sans-serif;
  left: 20px;
  animation: fadeIn 1s ease-in-out forwards;
}

.home_link{
  width:0;
  height:0;
  background-color: none;
  border: none;
}

.home_link a{
  display: inline;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin: 0 60px;
  font-family: 'Work sans', sans-serif;
  border: 2px solid #cd7914;
  padding: 8px 30px;
  color:#cd7914;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s;
  font-size: 16px;
  font-weight: 500;
  animation: popUp 1s ease-in-out forwards;
  
}

.home_link a:hover {
  background-color:#bb7826;
  color: white;
  border: none;
} 

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}  

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideDown {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes popUp {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

