# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=TradeWise
DB_USER=sandrine
DB_PASSWORD=bubuna

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here

# Email Configuration (Gmail)
EMAIL_USER=tradewise.app456@gmail.com
EMAIL_PASSWORD=yeeu qwds hfei ulvh

# Server Configuration
PORT=4000
NODE_ENV=development
